solutions/AMBERR/Workflows/Downloadexpertcornerfiles-4430745C-EA03-F011-BAE2-000D3A35C856.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline-1": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "ambers_sharedsharepointonline_49c25"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_Copilot": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {}
          },
          "runAfter": {
            "HTTP": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "HTTP": {
          "type": "Http",
          "inputs": {
            "uri": "@concat('https://m365cpi22829036.sharepoint.com/sites/ExpertCorner', outputs('Get_file_metadata')?['body/Path'])",
            "method": "GET"
          },
          "runAfter": {
            "Get_file_metadata": [
              "SUCCEEDED"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Get_file_metadata": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365cpi22829036.sharepoint.com/sites/ExpertCorner",
              "id": "%252fDownloads%252f2025-KCSE-fees-summary-sheets.pdf"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetFileMetadata",
              "connectionName": "shared_sharepointonline-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "%252fDownloads%252f2025-KCSE-fees-summary-sheets.pdf": "/Downloads/2025-KCSE-fees-summary-sheets.pdf"
          }
        }
      },
      "outputs": {},
      "description": "Run a flow from Copilot and send back a response."
    },
    "templateName": "8966f0978a80430098d992ce322095e3"
  },
  "schemaVersion": "1.0.0.0"
}