solutions/ZurichFinal/Workflows/CustomerResponse-F60FD286-E613-E13C-33DE-7634ED922C3B.json
{
  "properties": {
    "connectionReferences": {
      "shared_azuread": {
        "api": {
          "name": "shared_azuread"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedazuread_0293a"
        },
        "runtimeSource": "invoker"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365users_c22fa"
        },
        "runtimeSource": "invoker"
      },
      "shared_onedriveforbusiness": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedonedriveforbusiness_24e53"
        },
        "runtimeSource": "invoker"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "ambers_sharedsharepointonline_eeaa1"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "TxTInput",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "txtoutputfile": {
                  "title": "txtOutputFile",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "txtoutputnofile": {
                  "title": "txtOutputNoFile",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "txtoutputfile": "@{outputs('Compose_file')}",
              "txtoutputnofile": "@{outputs('Compose_no_file')}"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Check_group_membership_(V2)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@outputs('Get_my_profile_(V2)')?['body/userPrincipalName']",
              "body/groupIds": [
                "531ce304-bb2c-4ee4-809a-6f87d8f0071d"
              ]
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuread",
              "operationId": "CheckMemberGroupsV2",
              "connectionName": "shared_azuread"
            }
          },
          "runAfter": {
            "Get_my_profile_(V2)": [
              "Succeeded"
            ]
          }
        },
        "Get_my_profile_(V2)": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
              "operationId": "MyProfile_V2",
              "connectionName": "shared_office365users"
            }
          },
          "runAfter": {}
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Check_group_membership_(V2)')?['body/value']",
                  "531ce304-bb2c-4ee4-809a-6f87d8f0071d"
                ]
              }
            ]
          },
          "actions": {
            "Create_file": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "folderPath": "/",
                  "name": "Customer Response",
                  "body": "@triggerBody()?['text']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "CreateFile",
                  "connectionName": "shared_onedriveforbusiness"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Convert_file": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@outputs('Create_file')?['body/Id']",
                  "type": "PDF"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "ConvertFile",
                  "connectionName": "shared_onedriveforbusiness"
                }
              },
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              }
            },
            "Create_file_1": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi22829036.sharepoint.com/sites/ZIGCommunications",
                  "folderPath": "/Responses",
                  "name": "@outputs('Convert_file')?['headers/x-ms-file-name']",
                  "body": "@body('Convert_file')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateFile",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Convert_file": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Compose_file": {
              "type": "Compose",
              "inputs": "New file created",
              "runAfter": {
                "Create_file_1": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {
              "Compose_no_file": {
                "type": "Compose",
                "inputs": "No file created"
              }
            }
          },
          "runAfter": {
            "Check_group_membership_(V2)": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "outputs": {},
      "description": "This flow runs when a user wants to generate a customer response."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}